.mod-risk {
  @include px2px("font-size", 14);

}

.risk-act {
  background: #fff;
  overflow: hidden;
  padding: 0 px2rem(16);
}

.top-desc {
  position: relative;
  margin: px2rem(20) 0 0;
  padding-bottom: px2rem(16);
  border-bottom: 1px solid #e9e9e9;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: px2rem(16);
    background: url('../img/tip.png') no-repeat;
    background-size: 100%;
    height: px2rem(44);
    width: px2rem(54);
    content: '';
  }
  .p-text {
    @include px2px("font-size", 12);
    line-height: px2rem(16);
    color: #757575;
  }
  .p-money {
    color: #005EBD;
    line-height: px2rem(30);
  }
  .sp-num {
    @include px2px("font-size", 24);
    //font-size:px2rem(24);
    line-height: px2rem(30);
  }

}

.desc {
  margin-top: px2rem(16);
  position: relative;
  padding-left: px2rem(28);
  .risk-icon {
    position: absolute;
    left: 0;
    top: 0;
    font-size: px2rem(20);
    color: #e84a01;
  }
  .p-desc {
    color: #757575;
  }
  .p-desc, .p-desc1 {
    padding-bottom: px2rem(12);
  }

}
.pay-list{
  position: relative;
  height: px2rem(48);
  line-height: px2rem(48);
  border-top: 1px solid #e9e9e9;
  .right-text{
    position: absolute;
    right: 0;
    color:#757575;
  }
}

.risk-form{
  background: #fff;
  margin-top: px2rem(16);
  color: #757575;
  padding: px2rem(16);
  .form-h2{
    font-weight: normal;
    text-align: center;
    @include px2px("font-size", 16);
  }
  .form-p{
    position: relative;
    &:before{
      position: absolute;
      top:px2rem(16);
      content: '';
      display: block;
      width: px2rem(288);
      height: px2rem(269);
      background: url("../img/risk1.png") no-repeat;
      background-size: 100%;
    }
    padding-top:px2rem(302);
  }
}