$baseFontSize:100px !default;
$designWidth:320px !default;
@mixin rem($name, $px){
     $name : px2rem($px) ;
}


$zoom: 1.1 !default;

@mixin px2px($name, $px:10px){
    #{$name}: $px * 1px;
    @for $i from 2 to 4 {
        [data-dpr="#{$i}"] & {
            #{$name}: $i * $px * $zoom * 1px ;
        }
    }
}

@function px2rem( $px , $base-font-size: $baseFontSize ){
    @if (unitless($px)) {
        @return px2rem($px + 0px);

    } @else if (unit($px) == rem) {
        @return $px;
    }

    @return $px/($base-font-size) * 1rem;
}

//主要颜色
$co-red:#e84a01;
$co-333:#212121;
$co-gray-icon:#4a4a4a;
$co-666:#757575;
$co-999:#bdbdbd;
$co-white:#fff;

$border-color-normal:#dedede;
$border-color-light:#f2f2f2;
$border-nomal: 1px solid $border-color-normal;