@import "../global/iwjw/view";
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
    color: #212121;
    //font-size: 0.12rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 0;
}

.iconfont {
    vertical-align: middle;
    position: relative;
    font-size: px2rem(16);
}

#wx_pic {
    position: absolute;
    top: -100000px;
}

.iwjw-max {
    width: 640px;
    margin: auto;
    border: 1px solid #d3d3d3
}

#iwjw {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/*数字文本框*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}


// iphone6s 底部多余bug修复
iframe{
    display: none;
    height: 0px;
}