@import "~iwpath/view.scss";
    $color-75:#757575;
    .bank-container{
        background:#fff;
        border-top:1px solid #ddd;
        padding-left:px2rem(16);
        position: absolute;
        width: 100%;
        top: 16px;
       .bank-list{
            border-bottom:1px solid #ededed;
            padding: 10px 0;
            display: flex;
            -webkit-flex: flex;
            align-items: center;
            justify-content: flex-start;
            .bank-logo{
                width:px2rem(28);
                height:px2rem(28);
            }
            .bank-name{
                margin-left:px2rem(12);
                font-size:px2rem(14);
                .restrict{
                    color:$color-75;
                    font-size:px2rem(10);
                }
            }
        }
    }