@import "~iwpath/view.scss";
@import "../index.scss";
$color-e5:#E54A1B;
$color-fe:#FEC9B4;
$color-61:#616161;
$color-bd:#bdbdbd;
$color-ed:#ededed;
.re-pwd-container{
    background : $color-f1;
    width:100%;
    height:100%;
    padding-top:16px;
    .pwd-area{
        width: 100%;
        .sep{
            padding-left:px2rem(16);
            background: white;
            em{
                width:100%;
                height:1px;
                background:$color-ed;
                display: block;
            }
        }
        select{
            background:none;
            border:none;
            outline:none;
            color:$color-75;
            &.target{
                color:$color-21;
            }
        }
        input{
            flex:1;
            -webkit-flex: 1;
        }
    }
    .btn-next{
            width:256px;
            height:40px;
            line-height:40px;
            margin:24px auto;
            background:$color-fe;
            color:white;
            text-align: center;
            border-radius: 4px;
            &.btn-valid{
                background:$color-e5;
            }
        }
}